<section ng-controller="songManifestController as SM">
      <button class="btn-primary" ng-click="SM.getAllSongs()">Show Manifest</button>
      <table class="table">
         <thead>
            <th>Rank</th>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Publication Date</th>
            <th>Vote</th>
            <th>Delete</th>
         </thead>
         <tbody ng-repeat="song in SM.songs">
            <tr>
               <td>{{song.rank}}</td>
               <td>{{song.track}}</td>
               <td>{{song.artist}}</td>
               <td>{{song.published}}</td>
               <td><button class="btn" ng-click="SM.vote(true)">Up vote</button><button class="btn" ng-click="SM.vote(false)">Down vote</button></td>
               <td><button class="btn-danger" ng-click="SM.deleteSong(this)">Delete</button></td>
            </tr>
         </tbody>
      </table>
   </section>